.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    box-shadow: 0 1px 3px -2px black;
    background: linear-gradient(180deg,#FFC6AC , #9E9FA5 30%);
    font-size: 16px;
  }
  
  .nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 50px; 
  }
  
  
  .nav-logo p {
    color: #283618;
    font-family: "Dancing Script", cursive;
    font-size: 36px;
    font-weight: 900;
    text-shadow: 1px 1px 2px #5F6C37;
    -webkit-text-stroke: 0.5px #283618;
    margin: 0;
  }
  
  .nav-logo img {
    width: 100px;
    height: 100px;
  }
  
  .nav-cart img {
    width: 40px;
    height: 40px;
  }
  
  .nav-cart-count {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 11px;
    font-size: 14px;
    background: #5F6C37;
    color: #FEF9E0;
  }
  
  .nav-login-cart button {
    width: 157px;
    height: 58px;
    outline: none;
    border: 2px solid #283618;
    border-radius: 20px;
    color: #283618;
    font-size: 20px;
    font-weight: 500;
    background: #FEF9E0;
    cursor: pointer;
  }
  
  .nav-login-cart button:active {
    background: #5F6C37;
  }
  